*{
    margin: 0%;
    font-family: Arial;
    border: border-box ;
}

/* NavBar */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Box-1 */
.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(resourses/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1,2px solid transparent;
}

.border:hover{
    border: 1.2px solid white;
}

/* Box-2 */

.addUpper{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 17.2px;
}

.addLower{
    font-size: 1rem;
    margin-left: 3px;
}
.addIcon{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    
}

/* Box-3 */

.navSearch{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(252, 144, 2);
    height: 40px;
    width: 620px;
    border-radius: 4px;
} 

.navSearch:hover{
    border: 2px solid orange;
}

.searchSelect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
    border: none;
}

.searchInput{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.searchIcon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 1.3rem;
    color: #0f1111 ;

}

/* Box - 4 */

span{
    font-size: 0.7rem;
}

.box4{
    font-size: 0.87;
    font-weight: 700;
}

/* Box - 5 */

.navCart i{
    font-size: 30px;
}

.navCart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panelOption p{
    display: inline;
    margin-left: 17px;
}

.panelOption{
    width: 80%;
    font-size: 0.85rem;
}

.panelDeals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero - Section */

.heroSection{
    background-image: url("resourses/hero_image.jpg");
    background-size: cover;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
}
.heroMsg{
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;

}

.heroMsg a{
    color: #007185;
}

/* Shop Section */

.shopSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 450px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boxImg{
    height: 350px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxContent{
    margin-left: 1rem;
    margin-right: 1rem;
}

.boxContent p{
    color: #007185;

}

/* Footer */

footer{
    margin-top: 15px;
}

.footPane1{
    background-color: #37475a;
    color: white;
    font-size: 0.85rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footPane2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul p{
    margin-top: 20px;
    font-weight: 540;
}
ul a{
    text-decoration: none;
    color: #dddddd;
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}

.footPane3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background-image: url(resourses/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;

}

.footPane4{
    background-color: #0f1111;
    color: white;
    height: 75px;
    font-size: 0.8rem;
    text-align: center;
}

.pages a{
    text-decoration: none;
    color: #dddddd
}

.pages{
    padding-top: 20px;
}

.copyright{
    padding-top: 5px;
}